@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
h1 span {
  color: #f41919;
  display: block;
  font-family: 'Architects Daughter', cursive;
}
h3 { font-family: 'Architects Daughter', cursive; }
.callout h3 { text-transform: uppercase; }
.hero { padding: 2rem 0 1.25rem 0; }
.label {
  border-radius: 3px;
  margin-right: 5px;
}
